@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*General*/

body,html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/*Components*/

.divider-hor{
  height: 1px;
  width: 100%;
  background-color: grey;
}

.profile-card{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100px;
  width: 80%;
  border-radius: 12px;
  background-color: white;
}

.profile-card p{
  margin: 0;
}

.sidebar-container{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.sidebar-container ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 80%;
}

.sidebar-container ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  margin: 10px 0;
  border: 3px solid black;
}

.sidebar-container ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.pb{
  height: 70px;
  width: 70px;
  background-image: url("/pbwebpage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.article-card{
  height: 200px;
  width: 97%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 40px 0;
  padding: 10px;
  border-radius: 12px;
}

.article-card img{
  height: 180px;
  width: 270px;
  border-radius: 12px;
  margin-right: 10px;
}

.list-container{
  margin: 0 2%;
}

.btn{
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
}

/*Flex classes*/

.flex{
  display: flex;
}

.flex-a-j-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-a-center-j-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*Section styles*/

.main-section{
  width: 100%;
  height: 100vh;
  background-image: url("/PageBG.jpg");
}

main{
  width: 80%;
  height: 100%;
}
aside{
  background-color: rgb(160, 160, 255);
  width: 20%;
  height: 100%;
}