/*Set Up*/
body,
html {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0rem;
}
/*root*/
:root {
  /*Main colors*/
  --mainBlue: rgb(86, 86, 231);

  /*white colors*/
  --whiteMain: rgb(249, 249, 249);
  --whiteSecondary: rgb(230, 230, 230);
  --whiteShadow: 0px 3px 18px rgb(227, 227, 227);
  --whiteFooter: rgb(229, 229, 229);

  /*black colors*/
  --blackMain: rgb(15, 15, 15);
  --blackSecondary: rgb(100, 100, 100);
  --blackHover: rgb(56, 56, 56);
}

/*Components*/

main {
  width: 80%;
}
aside {
  height: 10vh;
  width: 20%;
}

.section {
  width: 80%;
  margin: 0 10%;
}

.artikel-section {
  width: 50%;
  margin: 0 25%;
}

.footer{
  height: 25vh;
  background-color: var(--whiteFooter);
}
.footer-content{
  font-size: 35px;
  cursor: pointer;
  color: var(--blackSecondary);
}

pre {
  padding: 20px;
  background-color: var(--whiteSecondary);
  border-radius: 12px;
}

code {
  font-size: 15px;
}

nav {
  height: 8vh;
  width: 100%;
  background-color: var(--whiteMain);
  box-shadow: var(--whiteShadow);
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: grey 2px solid;
  background-color: transparent;
  border-radius: 50%;
}

nav button:hover {
  color: var(--blackHover);
  border: 2px solid var(--blackHover);
}

nav p {
  font-weight: 600;
  color: var(--blackMain);
}
nav span {
  font-weight: 600;
  color: var(--mainBlue);
}

.quick-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quick-links li {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

nav ul li a {
  color: var(--blackMain);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--blackHover);
}

.btn-container-nav {
  margin-left: 10px;
}

.personal-card {
  width: 90%;
  padding: 10px;
  margin: 0 5%;
  background-color: var(--whiteMain);
  box-shadow: var(--whiteShadow);
  border-radius: 12px;
}

.about-card{
  height: 200px;
  width: 60%;
  background-color: var(--whiteMain);
  box-shadow: var(--whiteShadow);
}

.about-card img{
  height: 100%;
  object-fit: cover;
}

.personal-card p {
  margin: 0;
}

.personal-card img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.article-cards {
  height: 600px;
  width: 450px;
  background-color: var(--whiteMain);
  box-shadow: var(--whiteShadow);
}
.article-cards img {
  height: 300px;
  width: 100%;
}

/*flex classes*/

.flex {
  display: flex;
}

.flex-a-j-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-a-start-j-center {
  display: flex;
  align-items: start;
  justify-content: center;
}

.flex-a-center-j-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-a-center-j-start-column {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.article-heading-container {
  height: 8vh;
}

.topic-quick {
  font-size: 13px;
  color: var(--blackSecondary);
}

.card-heading {
  color: var(--blackMain);
  text-decoration: none;
}

.title-quick {
  color: var(--blackMain);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.divider-hor {
  height: 1px;
  width: 80%;
  background-color: grey;
}

.divider-sen {
  height: 80%;
  width: 1px;
  margin: 0 5px;
  background-color: grey;
}

.artikel-image {
  width: 80%;
  margin: 20px 10%;
  border-radius: 12px;
}

.font-bold {
  font-weight: 600;
  font-size: 19px;
}

.article-heading {
  font-size: 35px;
}

.techstack{
  font-size: 28px;
}

/*boundering*/
.gap {
  gap: 10px;
}

.margintop {
  margin-top: 10px;
}

.height70{
  height: 70vh;
}

.height100{
  height: 100%;
}

.margin-aside {
  margin-top: 80px;
}

.no-margin {
  margin: 0;
}
