/*Set Up*/
body,html{
  margin: 0;
  padding: 0;
}

/*root*/
:root{

  /*white colors*/
  --whiteMain: rgb(249, 249, 249);
  --whiteShadow: 0px 3px 18px rgb(227, 227, 227);
}

/*Components*/

main{
  width: 80%;
  background-color: red;
}
aside{
  height: 10vh;
  width: 20%;
  background-color: blue;
}

.section{
  width: 80%;
  margin: 0 10%;
}

.gap{
  gap: 10px
}

nav{
  height: 8vh;
  width: 100%;
  background-color: var(--whiteMain);
  box-shadow: var(--whiteShadow);
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-container-nav{
  margin-left: 10px;
}

/*flex classes*/

.flex{
  display: flex;
}

.flex-a-j-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-a-start-j-center{
  display: flex;
  align-items: start;
  justify-content: center;
}

.flex-a-center-j-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}